/* Add styling for your page here */

.App {

}

.BakeryItem {
  
}

/* .img {
  max-width: 250px;
} */

.cart {
  width: 25%;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(195, 243, 255);
  justify-content: space-evenly;
  width: 75%;
}



